@page
@using System.Globalization
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Localization

@inject IHtmlLocalizer<AdvancedProgramming_Lesson4.Resource> SharedLocalizer
@inject IViewLocalizer ViewLocalizer
@model ConfirmEmailChangeModel
@{
    ViewData["Title"] = @SharedLocalizer["Confirm email change"];
}

<h1>@ViewData["Title"]</h1>
<partial name="_StatusMessage" model="Model.StatusMessage" />