@page
@using System.Globalization
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Localization

@inject IHtmlLocalizer<AdvancedProgramming_Lesson4.Resource> SharedLocalizer
@inject IViewLocalizer ViewLocalizer
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = @SharedLocalizer["Forgot password confirmation"];
}

<h1>@ViewData["Title"]</h1>
<p>
    @SharedLocalizer["Please check your email to reset your password."]
</p>

