@page
@using System.Globalization
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Localization

@inject IHtmlLocalizer<AdvancedProgramming_Lesson4.Resource> SharedLocalizer
@inject IViewLocalizer ViewLocalizer
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = @SharedLocalizer["Reset password confirmation"];
}

<h1>@ViewData["Title"]</h1>
<p>
    @SharedLocalizer["Your password has been reset. Please"] <a asp-page="./ Login">@SharedLocalizer["click here to log in"]</a>.
</p>
